/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styles for the landing page */

body.landing {
  background-color: #000;
  background-image: url('../images/tarotbg.webp');
  background-repeat: no-repeat; /* Adjust as needed */
  font-family: "Tourney", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: rgb(174, 255, 0); /* Green glow text */
}

.container.landing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 50%; /* Move the top of the container to the center of the viewport */
  left: 50%; /* Move the left of the container to the center of the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the container by half its width and height */
  white-space: nowrap;
}

@keyframes flashText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* keyframes to rotate the rotate screen icon continuously */

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (one full rotation) */
  }
}

.letter {
  position: relative;
  color: rgb(174, 255, 0);
  font-size: 4.5vw;
  margin: 0 0px;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  text-align: center;
  line-height: 6vw;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
}

.letter i.material-icons {
  color: rgb(174, 255, 0);
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  font-size: 3.5vw;
  width: 3vw;
  line-height: 5.5vw;
  visibility: hidden;
  transform: translateX(-2vw);
  margin-top: 0.5vh;
  transition: box-shadow 0.3s ease-in-out;
}

.letter .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center; /* Start with the overlay hidden */
  width: 100vw;
  height: 30vh;
  background-color: transparent;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 50%; /* Move the top of the container to the center of the viewport */
  left: 50%; /* Move the left of the container to the center of the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the container by half its width and height */
}

.container:hover .overlay {
  display: flex;
}

.enter-button {
  box-shadow: none;
  display: inline-block;
  background-color: transparent;
  text-decoration: none !important;
  text-align: center;
  margin: 3vh;
  padding: 3vh;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: "Tourney", monospace;
  font-size: 4.5vw;
  letter-spacing: 1vw;
}

/* Apply the flash effect to the button text */
.enter-button {
  animation: flashText 1s infinite; /* Flash every 1 second */
}

/* Optional: Adding hover effect to make it stand out */
.enter-button:hover {
  text-decoration: none !important;
  background-color: transparent;
  transform: scale(1.1);
  outline: transparent !important;
}

button.btn.btn-link.enter-button:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  transform: scale(1.1);
}

.container,
.overlay,
.enter-button {
  cursor: pointer;
}

/* Hide the prompt by default */
.rotate-prompt {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 1rem;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: "Cascadia Code", Courier, monospace;
}

.rotate-icon .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 100px;
  font-size: 5vw !important;
  margin-top: 88.5vh;
  margin-bottom: 10px;
  animation: rotate 3s linear infinite, flashText 1s infinite;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  color: rgb(174, 255, 0);
}

 /* Navbar background and tab styling */
 i.fa-pasted-svg-1 {
  text-shadow: 0 0 5px hsl(116, 100%, 55%), 0 0 10px #2aff1a, 0 0 20px #2aff1a !important;
  margin-left: 10px;
 }

 .navbar {
  background-color: black;
  padding: 20px 0;
}

.nav-item {
  position: relative;
  margin-right: 5px;
}

.nav-link {
  display: block;
  font-family: 'Cascadia Code', Courier, monospace;
  font-size: 16px;
  background-color: #000000;
  border: 1px solid rgb(174, 255, 0);
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
  text-align: center;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  text-decoration: none;
}

/* Tab active style */
.nav-link.active {
  background-color: rgb(174, 255, 0);
  color: #000000;
  border-bottom: 1px solid rgb(174, 255, 0);
  box-shadow: inset 0 3px 5px rgb(174, 255, 0);
}

.nav-item:hover .nav-link {
  background-color: rgb(174, 255, 0); 
  color: #000000;
}

.nav-item:last-child {
  margin-right: 0;
}

/* Add some space around the content for better visual appearance */
.content {
  padding: 20px;
}

/* Font color on hover */
.nav-link:hover {
  background-color: rgb(174, 255, 0);
  color: black;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
}
/* styles for info page */

/* Set the page to look like a terminal */
body.info {
  margin: 10px;
  padding: 20px;
  height: 100vh;
  background-color: black;
  font-family: "Cascadia Code", Courier, monospace;
}

.terminal {
  background-color: #000;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.skip-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: "Tourney", monospace;
  background-color: transparent;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  padding: 10px 20px;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  transition: 0.3s;
}

.skip-button:hover {
  background-color: transparent;
  text-decoration: none;
  animation: flashText 1s infinite;
  transform: scale(1.1);
}

.skip-button:focus {
  outline: none;
}

  #terminalText {
    white-space: normal;        /* Allow text to wrap */
    word-wrap: break-word;      /* Ensure words break properly when reaching the container's edge */
    line-height: 1.5;           /* Adjust line-height for proper spacing between lines */
    overflow: hidden;           /* Prevent overflow */
}


/* Initially hide the cardback images */
#buttons-container .col-12.col-md-6 img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: block;
  margin: auto;
  width: 100px; /* Adjust size */
  height: auto;
  margin-bottom: 10px; /* Adds space below each image */
}

/* Make the images visible when the 'visible' class is added */
#buttons-container .col-12.col-md-6 img.visible {
  opacity: 1;
}

/* Use flexbox on the parent container of the images only */
#buttons-container .col-12.col-md-6 .image-container {
  display: flex;
  justify-content: center;  /* Align images horizontally in the row */
  gap: 10px;  /* Space between images */
  margin-bottom: 20px;  /* Space between images and the button below */
}

/* Ensure images inside the .image-container align in a row */
#buttons-container .col-12.col-md-6 .image-container img {
  margin: 0;
  width: 100px; /* Adjust the size as necessary */
  height: auto;
  border-radius: 15px;
}

/* Keep the rest of the content in the column layout */
#buttons-container .col-12.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
}

/* Ensure buttons are aligned in the center */
#buttons-container .col-12.col-md-6 a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Add some space below each button */
}

/* Buttons container: Make the buttons and explanations centered */
.buttons-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.card-button  {
  display: block;
  margin: auto;
  text-decoration: none;
  background-color: transparent;
  font-family: "Tourney", monospace;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  padding: 10px 20px;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0; /* Initially hidden */
  text-transform: capitalize;
}

.card-button:hover {
  background-color: transparent;
  animation: flashText 1s infinite;
  text-decoration: none;
  transform: scale(1.1);
}

.card-button:focus {
  outline: none;
  animation: flashText 1s infinite;
}

.explanation {
  margin-top: 10px;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: "Cascadia Code", monospace;
  font-size: 14px;
  text-align: left;
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Start below */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* For when the explanation text should appear */
.visible {
  opacity: 1 !important;
  transform: translateY(0); /* Move to normal position */
}

.buttons-container.visible,
.card-button.visible,
.explanation.visible {
  text-decoration: none;
  opacity: 1 !important;
  transform: translateY(0); /* Move to normal position */
}

a.hover {
  transform: scale(1.1);
  animation: flashText 1s infinite;
}

a {
  text-decoration: none;
  color: rgb(174, 255, 0);
}

body.cards {
  margin: 10px;
  padding: 20px;
  height: 100vh;
  background-image: url('../images/tarotbg.webp') !important; 
}

.accordion-item {
  background-color: transparent !important;
  border: none !important;
}

.accordion-body {
  background-color: transparent !important;
  border: none !important;
}

.accordion-button {
  text-align: center !important;
  background-color: transparent !important;
  color: rgb(174, 255, 0) !important;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: "Tourney", monospace;
  font-size: 3vw;
  padding: 10px 20px;
  border: none;
  cursor: pointer !important;
  transition: 0.3s;
  border: none !important;
  box-shadow: none !important;
  display: block;
  animation: flashText 1s infinite;
}

.card-body {
  background-color: transparent !important;
  border: none;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: "Cascadia Code", monospace;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.card {
  background-color: transparent !important;
}

.card-img , .card-img-top {
  border-radius: 15px !important;
}

/* styles.css */
body.onecard {
  background-color: #000;
  background-image: url('../images/tarotbg.webp');
  margin-top: 70px; /* Add margin-top to ensure the content is below the navbar */
  max-height: 100vh;
}

.leftonecard {
  margin-top: 100px;
}

#deck {
  position: relative;
  width: 150px;
  height: 200px;
}

.shufflecard {
  position: absolute;
  width: 100px;
  height: 140px;
  background-image: url('../images/tarotbg.webp');
  background-size: cover;
  border-radius: 5px;
  transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
  z-index: 0;
}

button.shufflebtn, button.dealbtn {
  box-shadow: none;
  background-color: transparent !important;
  text-decoration: none !important;
  text-align: center;
  margin: 3vh;
  padding: 3vh;
  color: rgb(174, 255, 0) !important;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a !important;
  font-family: "Tourney", monospace !important;
  font-size: 3vw !important;
  letter-spacing: 1vw;
  border: transparent !important;
  text-transform: capitalize !important;
}

#selected-cardone {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items to the top of the column */
  align-items: center; /* Align items horizontally in the center */
  overflow: hidden; /* Use full viewport height minus navbar height */ /* Account for the navbar space */
}

.selected-card {
  position: relative;
  width: 16vw;
  height: 23vw;
  transition: transform 1s ease-in-out;
  border-radius: 15px;
  transform-style: preserve-3d; /* Enables 3D effect for flipping */
  perspective: 1000px; /* Ensures the flip effect is 3D */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.83%;
}

.selected-card img {
  border-radius: 15px; /* Apply border-radius directly to the images */
  width: 100%;
  object-fit: cover; /* Ensures images maintain their aspect ratio while filling the container */
  box-shadow: 0 0 10px rgba(174, 255, 0, 0.5); /* Optional: Add a subtle shadow for card images */
}

/* Card front and back wrapper, removed background images */
.card-front,
.card-back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Prevents the back of the card from showing */
  transition: transform 1s;
}

/* Card back initial state */
.card-back {
  opacity: 1; /* Initially visible */
  transform: rotateY(0deg); /* Back is facing up initially */
}

/* Card front state */
.card-front {
  opacity: 0; /* Initially hidden */
  transform: rotateY(180deg); /* Front is initially rotated away */
}

/* Flip effect */
.selected-card.flip .card-back {
  opacity: 0; /* Hide the back when flipping */
  transform: rotateY(180deg); /* Rotate the back to face away */
}

.selected-card.flip .card-front {
  opacity: 1; /* Show the front */
  transform: rotateY(0deg); /* Rotate front to face the user */
}

/* Styles for card name */
.card-name {
  margin-top: 2.5vh;
  font-family: "Tourney", monospace;
  text-transform: uppercase !important;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
}

/* Styles for interpretation and response */
.card-details-text {
  font-family: "Cascadia Code", monospace;
  font-size: 1rem;
  text-align: justify;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
}

.card-info {
  bottom: 0; /* Move text to the bottom of the card */
  left: 0;
  right: 0;
  padding: 5px 20px; /* Reduced padding to decrease space */
  background: rgba(0, 0, 0, 0.6); /* Background to help the text stand out */
  color: rgb(174, 255, 0);
  font-family: "Tourney", monospace;
  text-align: center;
   /* Use negative margin to pull the text up */
}


/* media query */
/* Move icons on landing page up slightly on phones and tablets */

@media (min-width: 300px) and (max-width: 370px) {
  .letter i.material-icons {
    font-size: 4.5vw;
    margin-top: 0vh;
    transform: translate(-2vw, 0.2vh);
  }

  .rotate-icon .material-icons {
    margin-top: 85vh;
  }
}

@media (min-width: 370px) and (max-width: 576px) {
  .letter i.material-icons {
    font-size: 4.5vw;
    margin-top: 0vh;
    transform: translate(-2vw, 0vh);
  }

  .rotate-icon .material-icons {
    margin-top: 84.5vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .rotate-icon .material-icons {
    margin-top: 86vh;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .rotate-icon .material-icons {
    margin-top: 85vh;
  }
}

/* Show the rotate screen icon and prompt on devices with portrait orientation */
@media only screen and (orientation: portrait) {
  .rotate-prompt {
    display: block;
  }
  .rotate-icon {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  .rotate-icon {
    display: none;
  }

  .rotate-prompt {
    display: none;
  }
}
