* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url('assets\images\tarotbg.jpg');
  font-family: 'Tourney', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {

  align-items: center;
}

.letter {
  position: relative;
  color: aquamarine;
  font-size: 5vw;
  margin: 0 0px;
  display: inline-block;
  width: 6.5vw;  /* Ensure width is the same */
  height: 6vw; /* Ensure height is consistent */
  text-align: center;  /* Center the text horizontally */
  line-height: 6vw;    /* Vertically align the text */
  letter-spacing: 5em;
}

.letter i.material-icons {
  color: rgb(255, 174, 0);
  position: absolute;
  text-align: center;
  font-size: 4vw;
  width: 5vw;
  line-height: 5.5vw;
  visibility: hidden;  /* Icons are hidden initially */
  top: 50%; /* Center the icon vertically */
  left: 50%; /* Center the icon horizontally */
  transform: translate(-60%, -50%); /* Adjust to truly center the icon */
  display: flex; /* Add flex to ensure the text stays centered */
  justify-content: center;
  align-items: center;
}

.letter .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: visible;  /* Letters are visible initially */
}

.letter.show-symbol i.material-icons {
  visibility: visible;  /* Show the icon when the class is added */
}

.letter.show-symbol .text {
  visibility: hidden;  /* Hide the letter when the icon is shown */
}
