
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  body span {
    font-family: "Gugi", sans-serif;
    font-size: 6vw;
  }
  
  .container {
    display: flex;
    color: #6df612;
  }

.letter {
    font-family: "Gugi";
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 6vw; /* Fix width to make letter and icon align correctly */
    height: 6vw; /* Fix height to make letter and icon align correctly */
}

.letter i.material-icons {
    width: 4vw;
    position: absolute;
    color:#6df612
    top: 20px;
    left: 0;
    opacity: 0;
}

.letter.show-symbol i.material-icons {
    opacity: 1;
}

.letter.show-symbol {
    color: transparent; /* Hide the letter text when showing the icon */
}

.letter span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Make sure the text is always in front */
}

.letter:hover {
    cursor: pointer;
}
