/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for the landing page */

body.landing {
  background-color: #000;
  background-image: url('./images/tarotbg.jpeg');
  font-family: 'Tourney', monospace;
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 100%;
  height: 100%;
  margin: 0;
  color: rgb(174, 255, 0); /* Green glow text */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 50%;            /* Move the top of the container to the center of the viewport */
  left: 50%;           /* Move the left of the container to the center of the viewport */
  transform: translate(-50%, -50%);  /* Offset the container by half its width and height */ 
  white-space: nowrap;
}

@keyframes flashText {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.2;
  }
  100% {
      opacity: 1;
  }
}

/* keyframes to rotate the rotate screen icon continuously */

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (one full rotation) */
  }
}

.letter {
  position: relative;
  color: rgb(174, 255, 0);
  font-size: 4.5vw;
  margin: 0 0px;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  text-align: center;
  line-height: 6vw;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
}

.letter i.material-icons {
  color: rgb(174, 255, 0);
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  font-size: 3.5vw;
  width: 3vw;
  line-height: 5.5vw;
  visibility: hidden;
  transform: translateX(-2vw);
  margin-top: 0.5vh;
  transition: box-shadow 0.3s ease-in-out;
}

.letter .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center; /* Start with the overlay hidden */
  width: 100vw;
  height: 30vh;
  background-color: transparent;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 50%;            /* Move the top of the container to the center of the viewport */
  left: 50%;           /* Move the left of the container to the center of the viewport */
  transform: translate(-50%, -50%);  /* Offset the container by half its width and height */ 
}

.container:hover .overlay {
  display: flex;
}

.enter-button {
  box-shadow: none; 
  display: inline-block;
  background-color: transparent;
  text-decoration: none !important;
  text-align: center;
  margin: 3vh;
  padding: 3vh;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
font-family: 'Tourney', monospace;
font-size: 4.5vw;
letter-spacing: 1vw;
}

/* Apply the flash effect to the button text */
.enter-button {
  animation: flashText 1s infinite; /* Flash every 1 second */
}

/* Optional: Adding hover effect to make it stand out */
.enter-button:hover {
  text-decoration: none !important;
  background-color: transparent;
  transform: scale(1.1);
  outline: transparent !important;
}

button.btn.btn-link.enter-button:hover
{ text-decoration: none !important;
background-color: transparent !important;
transform: scale(1.1);
}

.container, .overlay, .enter-button {
  cursor: pointer;
}

/* Hide the prompt by default */
.rotate-prompt {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 1rem;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  font-family: 'Cascadia Code', Courier, monospace;
}

.rotate-icon .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 100px;
  font-size: 5vw !important;
  margin-top: 88.5vh;
  margin-bottom: 10px;
  animation: rotate 3s linear infinite, flashText 1s infinite;
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  color: rgb(174, 255, 0);
}

/* styles for info page */

/* Set the page to look like a terminal */
body .info, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: 'Cascadia Code', Courier, monospace;
}

.terminal {
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.skip-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  color: rgb(174, 255, 0);
  text-shadow: 0 0 5px #2aff1a, 0 0 10px #2aff1a, 0 0 20px #2aff1a;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.skip-button:hover {
  background-color: transparent;
  text-decoration: none;
  animation: flashText 1s infinite;
  transform: scale(1.1);

}

.skip-button:focus {
  outline: none;
}

#terminalText {
  white-space: pre-wrap;
  word-wrap: break-word;
}


/* media query */
/* Move icons on landing page up slightly on phones and tablets */

@media (min-width: 300px) and (max-width: 370px) {
  .letter i.material-icons {
    font-size: 4.5vw;
    margin-top: 0vh;
    transform: translate(-2vw, 0.2vh); 
  }

  .rotate-icon .material-icons {
    margin-top: 85vh;
}
}



@media (min-width:370px) and (max-width: 576px) {
  .letter i.material-icons {
    font-size: 4.5vw;
    margin-top: 0vh;
    transform: translate(-2vw, 0vh); 
  }

  .rotate-icon .material-icons {
    margin-top: 84.5vh;
}
}

@media (min-width: 576px) and (max-width: 768px) {
  .rotate-icon .material-icons {
    margin-top: 86vh;
}
}

@media (min-width: 768px) and (max-width: 1200px) {
  .rotate-icon .material-icons {
    margin-top: 85vh;
}
}
  
  


/* Show the rotate screen icon and prompt on devices with portrait orientation */
@media only screen and (orientation: portrait) {
  .rotate-prompt {
      display: block;
  }
  .rotate-icon {
      display: block;
  }
}

@media only screen and (orientation: landscape) {
.rotate-icon {
      display: none;
  }

  .rotate-prompt {
      display: none;
  }
}